/* {{{scheme}}} by {{{author}}} */

.base00-bg { background-color: #{{base00}}; }
.base01-bg { background-color: #{{base01}}; }
.base02-bg { background-color: #{{base02}}; }
.base03-bg { background-color: #{{base03}}; }
.base04-bg { background-color: #{{base04}}; }
.base05-bg { background-color: #{{base05}}; }
.base06-bg { background-color: #{{base06}}; }
.base07-bg { background-color: #{{base07}}; }
.base08-bg { background-color: #{{base08}}; }
.base09-bg { background-color: #{{base09}}; }
.base0A-bg { background-color: #{{base0A}}; }
.base0B-bg { background-color: #{{base0B}}; }
.base0C-bg { background-color: #{{base0C}}; }
.base0D-bg { background-color: #{{base0D}}; }
.base0E-bg { background-color: #{{base0E}}; }
.base0F-bg { background-color: #{{base0F}}; }

.base00 { color: #{{base00}}; }
.base01 { color: #{{base01}}; }
.base02 { color: #{{base02}}; }
.base03 { color: #{{base03}}; }
.base04 { color: #{{base04}}; }
.base05 { color: #{{base05}}; }
.base06 { color: #{{base06}}; }
.base07 { color: #{{base07}}; }
.base08 { color: #{{base08}}; }
.base09 { color: #{{base09}}; }
.base0A { color: #{{base0A}}; }
.base0B { color: #{{base0B}}; }
.base0C { color: #{{base0C}}; }
.base0D { color: #{{base0D}}; }
.base0E { color: #{{base0E}}; }
.base0F { color: #{{base0F}}; }
